body {
  font-family: "Gill Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../icons/cocktails.avif);
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.header {
  margin-bottom: 30px;
}

.header h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 10px;
}

.header p {
  color: #666;
  font-size: 14px;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: navy;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: gold;
}


/* Customer theme */
.customer-theme {
  position: relative; /* Ensure the container is positioned relatively */
  /* Remove the background-image property from here */
  color: navy;
  transition: background-color 0.75s;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../icons/cocktails.avif);
}


/* Bar Owner theme */
.bar-owner-theme {
  background-color: navy;
  color: gold;
  transition: background-color 0.75s;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../icons/bartender.jpeg);
}
